<div id="registration">  

    {{#if password_mismatch}}
        
        <div class="alert alert-danger">
            Passwords Don't Match
        </div>

    {{/if}}

    <div class="form-wrap">
        
        <form method="POST" action="/registration">
        
            <h1>Breathe Easy</h1>
            <input type="text" name="firstName" placeholder="First Name"><br>
            <input type="text" name="lastName" placeholder="Last Name"><br>
            <input type="text" name="username" placeholder="Username"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
            <input type="submit" class="btn btn-primary btn-lg" value="Register Here"><br>


        
        </form>
    
    </div>
</div>